# {{ ansible_managed }}

{# thisVhost is a variable from the web-nginx role, containing the informations from <app-group>_nginx  -#}
{# -#}
{% set current_vhost_log_dir = thisVhost.site_vhost_log_dir |default( role_nginx_log )  -%}
{% set current_vhost_log_name = thisVhost.site_vhost_log_name |default("vhost-" + thisVhost.server_name)  -%}
{# -#}
# http with redirect to https
server {
    listen 80;
    server_name {{ thisVhost.server_name }};

    # let's encrypt support
    location /.well-known/ {
        try_files $uri $uri/ =404;
    }

    access_log {{ current_vhost_log_dir }}/{{ current_vhost_log_name }}_access.log;
    error_log  {{ current_vhost_log_dir }}/{{ current_vhost_log_name }}_error.log  error;

    location / {
        return 307 https://$server_name$request_uri;
    }
}

server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name {{ thisVhost.server_name }};


    # ssl configuration - the cert must be in PEM format
    ssl_certificate     {{ thisVhost.ssl_cert_pem }};
    ssl_certificate_key {{ thisVhost.ssl_cert_key }};
    # ssl custom security
    include conf.d/ssl_security.include;


    access_log {{ current_vhost_log_dir }}/{{ current_vhost_log_name }}_access.log;
    error_log  {{ current_vhost_log_dir }}/{{ current_vhost_log_name }}_error.log  error;


    # security through ip address
    {% if not thisVhost.corp_access |default(false) |bool %}# not activated - {% endif %}if ($corp_access = 0) { return 403; }


    # vaultwarden reverse proxy
    # ref: https://github.com/dani-garcia/vaultwarden/wiki/Proxy-examples

    # Allow large attachments
    client_max_body_size 128M;


    location / {
        proxy_pass              {{ thisVhost.proxypass_target }};
        include conf.d/proxy_params.include;

        proxy_set_header X-Forwarded-Port $server_port;

        # websocket support
        include conf.d/proxy_websocket.include;
    }


#    # Optionally add extra authentication besides the AUTH_TOKEN
#    # If you don't want this, leave this part out
#    location /admin {
#        # See: https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication/
#        if ($corp_access = 0) { return 403; }
#
#        proxy_pass              {{ thisVhost.proxypass_target }};
#        include conf.d/proxy_params.include;
#
#        proxy_set_header X-Forwarded-Port $server_port;
#   }

}

