---
# {{ ansible_managed }}

# list of remote addresses monitored by prometheus smokeping
{% for loopHost in prometheus_job_smokeping |default([]) |flatten %}

- targets: [ '{{ loopHost.target }}' ]
  labels:
    # target name
    name: '{{ loopHost.name }}'
{#  # import extra template  #}
{%  include 'labels-inventory.include.j2' %}
    # specific url labels
    {{ loopHost.labels |default([]) |flatten |to_nice_yaml(indent=0) |regex_replace('- |\[|\]', '') |indent(4) }}
{% endfor %}

