# {{ ansible_managed }}

# cAdvisor uses a "v" as a prefix in the image tag versionning
IMAGE_VERSION=v{{ cadvisor_version }}

DOCKER_HOST_IP={{ cadvisor_host_listen_ip }}
DOCKER_HOST_PORT={{ cadvisor_host_listen_port }}

DOCKER_VAR_LIB={{ docker_data_dir }}

# extra parameters to cAdvisor
# ref: https://github.com/google/cadvisor/blob/master/docs/runtime_options.md
IMAGE_CMD=--store_container_labels=false {{ cadvisor_extra_parameters }}

