# {{ ansible_managed }}

# http with redirect to https
server {
    listen {{ nginx_default_site_listen_ip |default('*') }}:80 default_server;
    listen {{ nginx_default_site_listen_ip |default('*') }}:443 ssl http2 default_server;
    server_name  _;

    # Warning: a ssl cert is required for nginx to start
    ssl_certificate     {{ thisVhost.ssl_cert_pem }};
    ssl_certificate_key {{ thisVhost.ssl_cert_key }};


    # close connexion - special code
    return 444;

    access_log {{ role_nginx_log }}/vhost-default_access.log;
    error_log  {{ role_nginx_log }}/vhost-default_error.log  error;
}

