# {{ ansible_managed }}


# http with redirect to https
server {
    listen {{ nginx_default_site_listen_ip |default('*') }}:80 default_server;

    # let's encrypt support
    # Using a regex to skip checking for other locations
    location ^~ /.well-known/ {
        auth_basic off;
        auth_request off;

        # Extra security: this path must be the same as in /etc/letsencrypt/cli.ini => "webroot-path"
        # root /var/www/common/letsencrypt/.well-known/acme-challenge/;

        try_files $uri $uri/ =404;
    }

{# when no certificate is provided, disable the https redirect and the listen 443+certs settings #}
{% if nginx_default_site_ssl_cert_pem |default('') |length > 0 %}
    access_log /var/log/nginx/vhost-default_access.log;
    error_log  /var/log/nginx/vhost-default_error.log  error;


    location / {
        return 307 https://$host$request_uri;
    }
}

server {
    listen {{ nginx_default_site_listen_ip |default('*') }}:443 ssl http2 default_server;

    # ssl configuration - the cert must be in PEM format
    ssl_certificate     {{ nginx_default_site_ssl_cert_pem }};
    ssl_certificate_key {{ nginx_default_site_ssl_cert_key }};

    # custom security
    include conf.d/ssl_security.include;


    access_log {{ role_nginx_log }}/vhost-default_access.log;
    error_log  {{ role_nginx_log }}/vhost-default_error.log  error;
{% else %}
    # WARNING: no certificate specified in nginx_default_site_ssl_cert_{pem,key}
    # The ssl and redirect configurations are disabled
{% endif %}


{% if loopHasRoot |default(0) == 0 %}
    location / {
        return 410;
    }
{% endif %}
}

