# {{ ansible_managed }}
# ref: debian package

[Unit]
Description=Blackbox exporter for prometheus
Documentation=https://github.com/prometheus/blackbox_exporter
After=network-online.target


[Service]
#Restart=on-failure
User={{ role_prometheus_agent_dist.user }}

EnvironmentFile={{ role_prometheus_agent_blackbox_dist.service_conf }}
Environment="LOGFILE={{ role_prometheus_agent_dist.log }}/prometheus-{{ role_prometheus_agent_blackbox_dist.bin |basename }}.log"

# using /bin/bash -c "exec ..." to start a forking process without an absolute path and without bash staying as resident
ExecStart=/bin/bash -c "exec {{ role_prometheus_agent_blackbox_dist.bin }} ${ARGS}  &>>${LOGFILE}"
TimeoutStopSec=20s

# set icmp capability (=> setcap cap_net_raw=+ep )
# DO NOT SET CapabilityBoundingSet as it will block any sudo command
AmbientCapabilities=CAP_NET_RAW


[Install]
WantedBy=multi-user.target
Alias=blackbox_exporter.service
