# {{ ansible_managed }}

[Unit]
Description=Prometheus exporter for Mongo DB metrics
Documentation=https://github.com/percona/mongodb_exporter
After=network.target


[Service]
#Restart=on-failure
User={{ role_prometheus_agent_dist.user }}

# contrary to the other exporters, the connection string must be in the environment
EnvironmentFile={{ {{ role_prometheus_agent_mongodb_dist.auth }}

EnvironmentFile={{ role_prometheus_agent_mongodb_dist.service_conf }}
Environment="LOGFILE={{ role_prometheus_agent_dist.log }}/prometheus-{{ role_prometheus_agent_mongodb_dist.bin |basename }}.log"

# using /bin/bash -c "exec ..." to start a forking process without an absolute path and without bash staying as resident
ExecStart=/bin/bash -c "exec {{ role_prometheus_agent_mongodb_dist.bin }} ${ARGS}  &>>${LOGFILE}"
TimeoutStopSec=20s
SendSIGKILL=no


[Install]
WantedBy=multi-user.target
