# {{ ansible_managed }}
#
# List of users and encrypted password to be used with auth_basic
# while this file is available nginx-wide, it must be activated in each vhost with: auth_basic_user_file '/etc/nginx/conf.d/auth.htpasswd'
#
# ref: https://docs.nginx.com/nginx/admin-guide/security-controls/configuring-http-basic-authentication/
# ref2 :https://nginx.org/en/docs/http/ngx_http_auth_basic_module.html#auth_basic_user_file
#
{% for loopUser in nginx_global_auth_user_list |default([]) %}
{{ loopUser.user }}:{{ loopUser.password }}{{ ':' + loopUser.comment if loopUser.comment |default('') |length > 0 }}
{% endfor %}
