# {{ ansible_managed }}

# due to nginx add_header behavior blocking any inheritance from a higher level
# do not use add_header in a sub-level such as "location { }", only at the parent level "server{ }"


# General proxy settings
proxy_http_version 1.1;

# General proxy headers
proxy_set_header Host               $http_host;                   # old name: $host;
proxy_set_header X-Forwarded-Scheme $scheme;
proxy_set_header X-Forwarded-Proto  $scheme;
proxy_set_header X-Forwarded-For    $proxy_add_x_forwarded_for;   # old name: $remote_addr;
proxy_set_header X-Real-IP          $remote_addr;
proxy_set_header X-Forwarded-Port   $server_port;

# General proxy timeout
# proxy_read_timeout 60s; (default)
# proxy_send_timeout 60s; (default)

