# {{ ansible_managed }}

# Set the command-line arguments to pass to the server. 
# Due to shell escaping, to pass backslashes for regexes, you need to double
# them (\\d for \d). If running under systemd, you need to double them again
# (\\\\d to mean \d), and escape newlines too.
ARGS='{{ prometheus_service_extra_args }}  --web.listen-address="{{ prometheus_listen_ip }}:{{ prometheus_listen_port }}"  --config.file={{ role_prometheus_dist.conf }}/prometheus.yml  --web.config.file=/etc/prometheus/web-config.prometheus.yml  --storage.tsdb.path="{{ prometheus_data_dir }}/{{ role_prometheus_dist.data_subdir }}/" --storage.tsdb.retention.time="{{ prometheus_data_retention_time }}"  '

# use -help to list all supported parameters

