# {{ ansible_managed }}
# doc: https://github.com/prometheus/prometheus/blob/master/docs/configuration/alerting_rules.md
# doc: https://prometheus.io/docs/prometheus/latest/configuration/alerting_rules/
#
# Windows alerts have their own dedicated rules on purpose.
# Yaml anchors (& and *) are used to reduce the amount of duplicated text
# (partial anchors, see https://github.com/prometheus/prometheus/issues/2347 )

{# as this file use also a jinja2 templating structure, raw is required #}
{% raw %}

groups:
- name: base rules
  rules:
  - alert: CPU_Threshold_Exceeded
    expr: (1 - avg by (geo, instance) (rate(node_cpu_seconds_total{mode="idle"}[1h])) ) * 100 > 90
    for: 1h
    labels: &cpu_threshold_labels
      severity: critical
    annotations: &cpu_threshold_annotations
      summary: Instance {{$labels.instance}} CPU usage is dangerously high
      description: This device's CPU usage has exceeded the thresold of 90% with a value of {{$value}} for 1 hour.

  - alert: CPU_Threshold_Exceeded_Win
    expr: (1 - avg by (geo, instance) (rate(windows_cpu_time_total{mode="idle"}[1h])) ) * 100 > 90
    for: 1h
    labels: *cpu_threshold_labels
    annotations: *cpu_threshold_annotations


  - alert: CPU_Stalled
    expr: (1 - min by (geo, instance) (rate(node_cpu_seconds_total{mode="idle"}[24h])) ) * 100 > 20
    for: 1h
    labels: &cpu_stalled_labels
      severity: warning
    annotations: &cpu_stalled_annotations
      summary: Instance {{$labels.instance}} CPU usage never went under 20% since many hours
      description: This device's CPU usage has never been lower than 20% usage with a minimum value of {{$value}} for at least 24 hours.

  - alert: CPU_Stalled_Win
    expr: (1 - min by (geo, instance) (rate(windows_cpu_time_total{mode="idle"}[24h])) ) * 100 > 20
    for: 1h
    labels: *cpu_stalled_labels
    annotations: *cpu_stalled_annotations


  - alert: Low_Memory
    expr: ( node_memory_MemAvailable_bytes + node_memory_Cached_bytes ) / node_memory_MemTotal_bytes * 100 < 5
    for: 10m
    labels: &low_mem_labels
      severity: critical
    annotations: &low_mem_annotations
      summary: 'Instance {{$labels.instance}}: memory low'
      description: '{{$labels.instance}} has less than 5% memory available'

  - alert: Low_Memory_Win
    expr: ( windows_memory_free_and_zero_page_list_bytes + windows_memory_standby_cache_normal_priority_bytes ) / windows_os_visible_memory_bytes * 100 < 5
    for: 10m
    labels: *low_mem_labels
    annotations: *low_mem_annotations


  - alert: Disk_USAGE_Thresold_Exceeded
    expr: node_filesystem_free_bytes{fstype!~"nfs.*|cifs|rootfs|tmpfs|fuse.*"} / node_filesystem_size_bytes{fstype!~"nfs.*|cifs|rootfs|tmpfs|fuse.*"} * 100 < 10 and node_filesystem_readonly{fstype!=""} == 0
    for: 15m
    labels: &disk_usage_labels
      severity: warning
    annotations: &disk_usage_annotations
      summary: 'Instance {{$labels.instance}}: disk filling up'
      description: '{{$labels.device}} mounted on {{$labels.mountpoint}} on {{$labels.instance}} is 90% filled.'

  - alert: Disk_USAGE_Thresold_Exceeded_Win
    expr: windows_logical_disk_free_bytes{} / windows_logical_disk_size_bytes{} * 100 < 10
    for: 15m
    labels: *disk_usage_labels
    annotations: *disk_usage_annotations


  - alert: Network_Transmit_Errors
    expr: increase(node_network_transmit_errs_total[2m]) > 10
    for: 1h
    labels: &network_trans_errors_labels
      severity: warning
    annotations:
      description: 'Instance {{ $labels.instance }} interface {{ $labels.device }}: {{ printf "%.0f" $value }} transmit errors in the last two minutes.'
      summary: 'Network interface is reporting many transmit errors.'

  # labels are not the same between Linux & Windows metrics, the annotation message must be fully present here
  - alert: Network_Transmit_Errors_Win
    expr: increase(windows_net_packets_outbound_errors_total[2m]) > 10 or increase(windows_net_packets_received_errors_total[2m]) > 10
    for: 1h
    labels: *network_trans_errors_labels
    annotations:
      description: 'Instance {{ $labels.instance }} interface {{ $labels.nic }}: {{ printf "%.0f" $value }} transmit errors in the last two minutes.'
      summary: 'Network interface is reporting many transmit errors.'


  - alert: Ping_DOWN
    expr: probe_success{job="smokeping"} < 1
    for: 3m
    labels:
      severity: warning
    annotations:
      summary: '{{$labels.name}} is down'
      description: 'Address {{$labels.name}} ({{$labels.url}}) is not answering since 3 minutes.'


  - alert: App_DOWN
    expr: probe_success{job="website"} < 1
    for: 5m
    labels:
      severity: critical
    annotations:
      summary: '{{$labels.name}} is down'
      description: 'Application {{$labels.name}} ({{$labels.url}}) is down since 5 minutes.'


  - alert: Instance_DOWN
    expr: up{} == 0
    for: 5m
    labels:
      severity: critical
    annotations:
      summary: 'Instance {{$labels.instance}} is down'
      description: '{{$labels.instance}} (type {{$labels.job}}) has been down for more than 5 minutes.'


  - alert: Apache_PROCESS_Thresold_Exceeded
    expr: ( avg by (geo, instance) (apache_scoreboard{state="open_slot"}) / sum by (geo, instance) (apache_scoreboard{}) ) < 0.1
    for: 5m
    labels:
      severity: warning
    annotations:
      summary: 'Instance {{$labels.instance}}: Apache Webserver process count is high'
      description: 'Le serveur web Apache de {{$labels.instance}} arrive a saturation. Relancer le service avant investigation'


  # The tag "cluster" in the metrics is required
  - alert: Instance_Cluster_PARTIAL
    expr: ( sum by (geo, cluster, job) ( up{cluster != "", job != "" } ) ) == 1
    for: 5m
    labels:
      severity: warning
    annotations:
      summary: 'Cluster {{$labels.cluster}} has missing instances'
      description: '{{$labels.cluster}} has only one node still up for more than 5 minutes.'


  - alert: Instance_Cluster_DOWN
    expr: ( sum by (geo, cluster, job) ( up{cluster != "", job != "" } ) ) == 0
    for: 5m
    labels:
      severity: critical
    annotations:
      summary: 'Cluster {{$labels.cluster}} is down'
      description: '{{$labels.cluster}} has been down for more than 5 minutes without any node remaining.'


  - alert: Certificate_expired
    expr: ceil( ( probe_ssl_earliest_cert_expiry{} - time() )  / 3600 / 24 ) <= 2
    for: 6h
    labels:
      severity: critical
    annotations:
      summary: 'Certificate {{$labels.name}} is expired'
      description: 'Certificate {{$labels.name}} on server {{$labels.target}} has less than 2 days remaining or is already expired.'


  - alert: Certificate_expire_soon
    # it is possible to chain comparisons like "1 < metric < 10" as such : ( metric > 1 ) <= 10
    expr: (ceil( ( probe_ssl_earliest_cert_expiry{} - time() )  / 3600 / 24 ) > 2 ) <= 30
    for: 24h
    labels:
      severity: warning
    annotations:
      summary: 'Certificate {{$labels.name}} will expire soon'
      description: 'Certificate {{$labels.name}} on server {{$labels.target}} will expire in less than 30 days.'

# {% endraw %}

