# {{ ansible_managed }}

DATA_SOURCE_NAME="{{ prometheus_agent_oracledb_dsname }}"
ORACLE_HOME="{{ prometheus_agent_oracledb_orahome }}"
LD_LIBRARY_PATH="{{ prometheus_agent_oracledb_oralib }}"
# CUSTOM_METRICS="/etc/prometheus/oracledb-custom-metrics.toml"

