# {{ ansible_managed }}

# Set the command-line arguments to pass to the server.
ARGS='--web.listen-address="{{ prometheus_agent_apache_listen }}" --scrape_uri="{{ prometheus_agent_apache_server_status }}"  --web.config.file={{ role_prometheus_agent_dist.webconfig }}  {{ prometheus_agent_apache_service_extra_args }}'

# use -help to list all supported parameters

