# {{ ansible_managed }}

# Set the command-line arguments to pass to the server.
# Due to shell escaping, to pass backslashes for regexes, you need to double
# them (\\d for \d). If running under systemd, you need to double them again
# (\\\\d to mean \d), and escape newlines too.
ARGS='--web.listen-address="{{ prometheus_agent_oracledb_listen }}" --web.config={{ role_prometheus_agent_dist.webconfig }} --default.metrics={{ role_prometheus_agent_dist.conf }}/oracledb-default-metrics.toml  {{ prometheus_agent_oracledb_service_extra_args }}'

# use -help to list all supported parameters

