# {{ ansible_managed }}

# Set the command-line arguments to pass to the server.
ARGS='--web.listen-address="{{ prometheus_agent_pushgateway_listen }}" --web.config.file={{ role_prometheus_agent_dist.webconfig }}  {{ prometheus_agent_pushgateway_conf_extra_args }}'

