# {{ ansible_managed }}

# Set the command-line arguments to pass to the server.
ARGS='--web.listen-address="{{ prometheus_agent_blackbox_listen }}" --config.file "{{ role_prometheus_agent_dist.conf }}/blackbox.yml"  --web.config.file={{ role_prometheus_agent_dist.webconfig }} {{ prometheus_agent_blackbox_conf_extra_args }}'

# use -help to list all supported parameters

