# {{ ansible_managed }}
# ref: https://github.com/google/cadvisor
# ref: https://prometheus.io/docs/guides/cadvisor/
version: '3.2'

services:
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:${IMAGE_VERSION}
    container_name: cadvisor
    # TODO: drop the privileged=true - requires 'devices: - "/dev/kmsg"'
    privileged: true
    command: "${IMAGE_CMD}"
    restart: on-failure:10
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - ${DOCKER_VAR_LIB}:/var/lib/docker:ro
{% if cadvisor_storage_driver != "prometheus" %}
    ports:
      - "${DOCKER_HOST_IP:-127.0.0.1}:${DOCKER_HOST_PORT}:8080"
{% else %}
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.cadvisor.rule=HostRegexp(`{host:.+}`) && PathPrefix(`{{ cadvisor_storage_driver_prometheus_endpoint }}`)"
      - "traefik.http.routers.cadvisor.entrypoints={{ ( cadvisor_ssl_cert_key |length > 0 ) |ternary( 'websecure', 'web' ) }}"
      - "traefik.http.services.cadvisor.loadbalancer.server.port=8080"
{%   if cadvisor_auth_basic |bool %}
      - "traefik.http.routers.cadvisor.middlewares=prometheus-auth"
      # moddlewares cannot be declared in the main config but ony in labels/dynamic
      - "traefik.http.middlewares.prometheus-auth.basicAuth.users={{ cadvisor_auth_basic_user }}:{{ cadvisor_auth_basic_pass_crypted |replace('$', '$$') }}"
{%   endif %}
{% endif %}
{% if cadvisor_logging_driver_syslog |bool %}
    logging:
      driver: syslog
      options:
        {% raw %}tag: docker-{{.Name}}{% endraw +%}
{% endif %}
    networks:
      - cadvisor


{% if cadvisor_storage_driver == "prometheus" %}
  reverse:
    image: traefik:latest
    container_name: cadvisor_reverse
    restart: on-failure:10
    ports:
      - "${DOCKER_HOST_IP:-127.0.0.1}:${DOCKER_HOST_PORT}:${DOCKER_REVERSE_PROXY_PORT}"
    volumes:
      - ./conf/traefik.toml:/etc/traefik/traefik.toml:ro
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
{%   if cadvisor_ssl_cert_key |length > 0 %}
      - ${DOCKER_HOST_SSL_CERT_PEM}:/etc/ssl/cert.pem:ro
      - ${DOCKER_HOST_SSL_CERT_KEY}:/etc/ssl/cert.key:ro
{%   endif %}
{%   if cadvisor_logging_driver_syslog |bool %}
    logging:
      driver: syslog
      options:
        {% raw %}tag: docker-{{.Name}}{% endraw +%}
{%   endif %}
    networks:
      - cadvisor
{% endif %}


networks:
  cadvisor:

