# {{ ansible_managed }}

{{ role_docker_compose_log_dir.path }}/*.log {
    daily
    rotate 14
    copytruncate

    compress
    delaycompress

    missingok
    notifempty

    dateext
    dateyesterday
}

