# {{ ansible_managed }}

{{ role_docker_compose_log_dir.path }}/*.log {
    daily
    rotate {{ docker_config_log_retention_days }}
    copytruncate

    compress
    delaycompress

    missingok
    #notifempty

    dateext
    dateyesterday
}

